<link rel="stylesheet" href="~/css/cabecalho.css" />
@inject CooperchipItDeveloper.Domain.Interfaces.IUserInContext _userInContetx

@{
    ViewData["Title"] = "Cabeçalho";
}

<header>
    <section class="top-header">
            <div class="interface">
                <div class="logotipo">
                    <a asp-controller="Home" asp-action="Index">
                        <img src=~/img/cabecalho_medico_minimalista.png alt="logotipo médico" height="100px">
                    </a>
                </div>

            <div class="btn-social d-flex align-items-center gap-2">
                    <a asp-controller="Home" asp-action="Privacy" target="_blank" title="Configurações"><button><i class="bi bi-gear"></i></button></a>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-area="Identity" asp-page="/Account/Logout" method="post" style="display: inline;" onsubmit="return confirm('Tem certeza que desejar deslogar deste usuario?')">
                            <button type="submit" class="btn btn-link p-0" title="Sair (@User.Identity.Name)">
                                <i class="bi bi-person-fill-check text-success fs-4"></i>
                            </button>
                        </form>
                    }
                    else
                    {
                        <a href="/Identity/Account/Login" title="Fazer Login">
                            <button class="btn btn-link p-0">
                                <i class="bi bi-person-exclamation text-danger fs-4"></i>
                            </button>
                        </a>

                    } 

                    @if(_userInContetx.IsAuthenticated() && !string.IsNullOrEmpty(_userInContetx.GetUserImgProfilePath()))
                    {
                        <form asp-area="Identity" asp-page="/Account/Manage/Index" method="post" title="Ver perfil"><button><img class="imgProfileCabecalho" 
                            src="/uploads/@_userInContetx.GetUserImgProfilePath()" alt="Imagem de perfill"></button></form>
                        
                    }else
                    {
                        <form asp-area="Identity" asp-page="/Account/Manage/Index" method="post" title="Ver perfil"><button><i class="bi bi-person-circle"></i></button></form>
                    }
        </div>

    </section>
    <div class="menu-desktop">
        <section class="bottom-header">
            <div class="interface">
                <nav class="nav-item">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">HOME</a></li>
                        <li><a asp-controller="Home" asp-action="Dashboard">DASHBOARD</a></li>
                        <li class="drop-hover" style="position:relative; z-index: 1;">
                            <a href="#">PACIENTES<i class="bi bi-caret-down-fill"></i></a>
                            <div class="drop">
                                <a asp-controller="Paciente" asp-action="Index">LISTAGEM</a>
                                <a asp-controller="EstadoPaciente" asp-action="Index">ESTADO</a>
                                <a asp-controller="EstadoPaciente" asp-action="Index">LEITOS</a>
                                <a asp-controller="EstadoPaciente" asp-action="Index">CONSULTAS</a>
                            </div>
                        </li>
                        <li class="drop-hover" style="position:relative; z-index: 1;">
                            <a href="#">ARQUIVOS<i class="bi bi-caret-down-fill"></i></a>
                            <div class="drop">
                                <a asp-controller="Config" asp-action="MenuConfig" >IMPORTES</a>
                                <a asp-controller="Generico" asp-action="Index">GENERICOS</a>
                                <a asp-controller="Config" asp-action="ImportMedicamentos">MEDICAMENTOS</a>
                                <a asp-controller="Cid" asp-action="Index">CIDS</a>
                            </div>   
                        </li>
                        <li><a href="#">CONTATOS</a></li>
                    </ul>
                </nav>

            </div>
        </section>
    </div>
</header>