@using Cooperchip.ItDeveloper.Domain.Entities
@model EstadoPaciente

@{
    ViewData["Title"] = "Detalhes do Estado do Paciente";
}

<vc:cabecalho titulo="Medical Management-Sys / Módulo Estado dos Pacientes"
              subtitulo="Módulo de Administração de Pacientes"></vc:cabecalho>

<div class="panel panel-default panel-controls">
    <div class="panel panel-heading">
        <h3>Exclusão do estado do paciente</h3>
    </div>


    <div class="panel panel-body">
        <div>

            <h3>Está certo que deseja excluir este registro?</h3>
            <hr />
            <dl>
                <dt class="dl-horizontal">
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>
                <dd>
                    @Html.DisplayFor(model => Model.Descricao)
                </dd>
            </dl>
        </div>
    </div>
    <div>
        <form asp-asp-controller="EstadoPaciente" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-warning" asp-controller="EstadoPaciente" class="btn btn-success" asp-action="Index">Voltar para lista</a>
        </form>
    </div>
</div>




