html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.containerPai{
    padding: 0 80px;
    margin: 0 80px;
}

.cabecalhoTable {
    background-color: #2081C3;
}

.btn-primary {
    background-color: #2081C3 !important;
    border-color: #2081C3 !important;
}

    .btn-primary:hover {
        background-color: #18689a !important;
        border-color: #18689a !important;
        transform: scale(1.05);
    }

.bg-red{
    background-color: #F4B9B2;
}

.bg-yellow{
    background-color: #FED99B
}
.bg-blue{
    background-color: #D6EFFF
}
.bg-write{
    background-color: #FEFEFF
}
.bg-primary {
    background-color: #2081C3 !important;
}

.imgProfileCabecalho {
    height: 50px;
    border-radius: 50%;
    background-color: transparent;  
}
    .imgProfileCabecalho:hover {
        transform: scale(1.05);
    }

.imgProfileRegister {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 50%;
}
    .imgProfileRegister:hover {
        transform: scale(1.05);
    }

@media screen and (max-width: 1020px) {
    .containerPai {
        padding: 5px;
        margin: 5px;
    }

    .menu-desktop {
        display: none;
    }
}