@using Cooperchip.ITDeveloper.Application.Areas.Pacientes.Models
@using Cooperchip.ItDeveloper.Domain.Enuns
@using Cooperchip.ItDeveloper.Mvc.Models
@model PacienteFormModel
@{
    ViewData["Title"] = "Edição de Paciente";
}

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">

        <q-field for="Nome" col="8"/>

        <q-field for="Cpf" col="4"/>

        <q-field for="Email" col="6"/>

        <q-field for="DataNascimento" col="3"  type="date"/>

        <q-field for="DataInternacao" col="3" />

        <q-field for="Rg" col="4"/>

        <q-field for="RgOrgao" col="2"/>

        <q-field for="RgDataEmissao" col="3" />

        <q-field for="Motivo" />

        <div class="form-check form-switch">
            <input class="form-check-input" asp-for="Ativo" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckAtivo">Paciente Ativo</label>
        </div>

        <q-select for="EstadoPacienteId" items="ViewBag.EstadoPaciente" col="4" />
    
        <q-select for="TipoPaciente" items="@(new SelectList(Enum.GetValues(typeof(TipoPaciente))))" col="4" />
    
        <q-select for="Sexo" items="@(new SelectList(Enum.GetValues(typeof(Sexo))))" col="4" />

        <div class="form-group">
            <a asp-action="Index" asp-controller="Paciente" class="btn btn-dark">Voltar para listagem</a> 
            <a asp-action="Create" asp-controller="Paciente" class="btn btn-outline-primary">Salvar Paciente</a> 
        </div>
    </div>
</form>
