@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="container">
    <div class="p-4">
        <h5 class="text-center mb-3">Editar perfil</h5>


        <partial name="_StatusMessage" for="StatusMessage" />

        <div class="m-3">
            <img src="~/img/icon_perfil.png" alt="" height="150px" />
        </div>

        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>


            <div class="mb-3">
                <label asp-for="Username" class="form-label">Usuário</label>
                <input asp-for="Username" class="form-control" disabled>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <label asp-for="Input.PhoneNumber" class="form-label">Telefone</label>
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="(00) 90000-0000">
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.NomeCompleto" class="form-label">Nome Completo</label>
                <input asp-for="Input.NomeCompleto" class="form-control" placeholder="digite o seu nome completo...">
                <span asp-validation-for="Input.NomeCompleto" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Apelido" class="form-label">Apelido</label>
                <input asp-for="Input.Apelido" class="form-control" placeholder="Digite seu apelido...">
                <span asp-validation-for="Input.Apelido" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.DataNascimento" class="form-label">Data de Nascimento</label>
                <input asp-for="Input.DataNascimento" class="form-control" placeholder="digite sua data de nascimento...">
                <span asp-validation-for="Input.DataNascimento" class="text-danger"></span>
            </div>




            <div class="mb-3">
                <label for="avatar" class="form-label">Foto de perfil</label>
                <input type="file" id="avatar" name="avatar" class="form-control" accept="image/*">
                <div class="form-text">PNG/JPG, até 2MB.</div>
            </div>


            <div class="row">
                <div class="col-12 col-md-6 mb-2">
                    <button type="submit" class="btn btn-primary w-100">Salvar</button>
                </div>
                <div class="col-12 col-md-6 mb-2">
                    <a class="btn btn-outline-secondary w-100" href="/Account/Manage/PersonalData">Dados pessoais</a>
                </div>
            </div>
        </form>


        <hr>


    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
}
